        @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gochi+Hand&display=swap');
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             font-family: 'Cedarville Cursive', cursive;
            font-family: 'Gochi Hand', cursive;  
        }

        body {
            height: 100vh;
            width: 100vw;
            background-color: #512da8;
            overflow: hidden;
        }

        .main {
            height: 100vh;
            width: 100vw;
            background-color: #512da8;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .mainBody {
            height: 320px;
            width: 320px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transform: translateY(150%);
            animation: startAnimation1 0.5s linear forwards;
        }

        .mainBody .row {
            height: 100px;
            width: 100%;
            display: flex;
            gap: 10px;
        }

        .mainBody .row .box {
            height: 100px;
            width: 100px;
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 60px;
            color: #512da8;
            text-transform: uppercase;
        }

        .heddingDiv {
            position: absolute;
            top: 50px;
            transform: translateY(-150%);
            animation: startAnimation2 0.5s linear forwards;
        }

        .heddingDiv h1 {
            font-size: 50px;
            color: white;
        }

        .disabled {
            pointer-events: none;
        }

        .screen {
            height: 100vh;
            width: 100%;
            background-color: white;
            transition: all 0.2s linear;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .screen .txtDiv h1 {
            font-size: 50px;
            color: #512da8;
        }

        .screenShow {
            transform: translateY(-100%);
        }

        @keyframes startAnimation1 {
            from {
                transform: translateY(150%);
            }

            to {
                transform: translateY(0);
            }
        }

        @keyframes startAnimation2 {
            from {
                transform: translateY(-150%);
            }

            to {
                transform: translateY(0);
            }
        }

        @media screen and (max-height: 600px) {
            .heddingDiv {
                top: 0;
            }
        }
